<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">
	  
	  <select id="selectList" resultType="board">
	  	SELECT board_no,
	  		   title,
	  		   content,
	  		   writer,
	  		   view_cnt,
	  		   creation_date
	  	FROM   tbl_board
	  	<!-- order by board_no desc -->
	  </select>
	  
	  <!-- 페이지별 조회 -->
	  <select id="selectListPaging" resultType="board" parameterType="com.yedam.common.SearchDTO">
	  select c.*
	  from
	      (select rownum rn, b.*
	       from 
	           (select *
	           from tbl_board
	           where 
	           <choose>
	           	<when test="searchCondition == 'T'.toString() "><!--'searchCondition == "T" '이렇게도가능  -->
	           	 title like '%'||#{keyword}||'%'
	           	</when>
	           	<when test="searchCondition == 'W'.toString() "><!--'searchCondition == "W" '이렇게도가능  -->
	           	 writer like '%'||#{keyword}||'%'
	           	</when>
	           	<otherwise>
	           		title like '%'||#{keyword}||'%' or writer like '%' ||#{keyword} ||'%'
	           	</otherwise>
	           </choose>
	           order by board_no desc) b
	       <![CDATA[ 
	       where rownum <= #{page} * 5) c 
	       ]]>    <!-- 꺽쇠를 연산자로 인식하게 하기 위함 -->
	  where c.rn > (#{page} -1) * 5
	  </select>
	  
	  <insert id="insertBoard" parameterType="board">
	  	INSERT INTO tbl_board (board_no, title, content, writer, image)
		VALUES(
		       BOARD_SEQ.NEXTVAL,
		       #{title},
		       #{content},
		       #{writer},
		       #{image}
		       )
	  </insert>
	  
	  <update id="updateBoard" parameterType="board">
	  	UPDATE tbl_board
	  	<set> <!-- set-> set다음 ,(콤마)가 바로오면 ,(콤마)를 알아서 지워줌 -->	   
		  	<if test="title != null">
		  		title = #{title}
		  	</if>
		  	<if test="content != null">
		  		,content = #{content} <!-- 여기의 콤마 -->
		  	</if>
		  	<if test="content != null">
		  		,image = #{image} <!-- 여기의 콤마 -->
		  	</if>   
	  	</set>
	  	WHERE board_no = #{boardNo}
	  </update>
	  
	  <delete id="deleteBoard" parameterType="int">
	  	DELETE FROM tbl_board
	  	WHERE  board_no = #{boardNo}
	  </delete>
	  
	  <!-- 단 건 조회 -->
	   <select id="selectBoard" parameterType="int" resultType="board">
	  	SELECT board_no,
	  		   title,
	  		   content,
	  		   writer,
	  		   view_cnt,
	  		   creation_date,
	  		   image
	  	FROM   tbl_board
	  	WHERE  board_no = #{boardNo}
	  </select>
	  
	  <select id="selectCount" resultType="int" parameterType="com.yedam.common.SearchDTO">
	  	SELECT count(1)
	  	FROM   tbl_board
	  	WHERE
	  		<choose>
	           	<when test="searchCondition == 'T'.toString() "><!--'searchCondition == "T" '이렇게도가능  -->
	           	 title like '%'||#{keyword}||'%'
	           	</when>
	           	<when test="searchCondition == 'W'.toString() "><!--'searchCondition == "W" '이렇게도가능  -->
	           	 writer like '%'||#{keyword}||'%'
	           	</when>
	           	<otherwise>
	           		title like '%'||#{keyword}||'%' or writer like '%' ||#{keyword} ||'%'
	           	</otherwise>
	        </choose>
	  </select>
</mapper>