<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ReplyMapper">
 
 <select id="selectList" parameterType="int" >
 	SELECT reply_no
 		   ,replyer
 		   ,reply
 		   ,board_no
 		   ,reply_date
 	FROM   tbl_reply
 	WHERE  board_no = #{bno}
 	ORDER BY reply_no
 </select>
  
  <delete id="deleteReply" parameterType="int">
  	DELETE FROM tbl_reply
 	WHERE   reply_no = #{rno}
  </delete>
  
  <!-- 다건삭제 -->
  <delete id="deleteReplys" parameterType="string">
  	DELETE FROM tbl_reply
  	WHERE  reply_no IN 
  	<foreach collection="array" item="reply" open="( " separator="," close=" )">
  		#{reply}
  	</foreach>
  </delete>
  
  <!-- 한건 등록 -->
  <insert id="addReply" parameterType="com.yedam.vo.ReplyVO">
  INSERT INTO tbl_reply (reply_no, replyer, reply, board_no)
  VALUES (#{replyNo}, #{replyer}, #{reply}, #{boardNo})
  </insert>
  
  <select id="selectKey" resultType="int">
  SELECT reply_seq.nextval
  FROM dual
  </select>
</mapper>